{{!-- <h1>Hello products</h1> --}}
{{!-- <h1>Hello Category</h1> --}}
<div class="content-header">
    {{#if categories.length}}
    <div class="row">
        {{#each categories}}
        <div class="col-md-6">
            <div class="card">
                <img src="/images/{{img}}" alt="{{img}}">
                <div class="card-body">
                    <a href="/admin/product/view/{{id}}" class="card-title">{{name}}</a>
                    <p class="card-title">{{price}}</p>
                    <a href="/admin/product/delete/{{id}}" class="btn btn-danger">O'chirish</a>
                    <a href="/admin/product/edit/{{id}}" class="btn btn-warning">O'zgartirish</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <p>Category is empty</p>
    {{/if}}
</div>